/* styles.css */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: orange;
}

.container {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 4fr;
}

#editor {
  width: 100%;
  height: 300px;
}

#console {
  border: 1px solid #ccc;
  padding: 10px;
  height: 200px;
  color: #ccc;
  overflow-y: auto;
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 11px;
  font-weight: 900;
}

.challenge {
  border: 1px solid green;
  height: 300px;
  overflow-y: auto;
  padding: 5px;
  text-align: center;
}

.information {
  padding: 10px;
}

.chatBox {
  border: 1px solid green;
  margin-top: 10px;
  height: 200px;
  overflow-y: auto;
  padding: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  font-weight: 900;
}

.chatBox span {
  color: green;
  margin-right: 10px;
}

#messageInput {
  width: 60%;
  padding: 5px;
  margin-top: 20px;
}

button {
  margin-top: 10px;
}
